.itemContainer__grid {
  height: 30rem;
  width: fit-content;
  padding: 1rem;
  margin: 4rem;
  margin-left: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border: transparent;
  text-decoration: none;
  color: black;
  &:hover {
    height: 31rem;
    color: var(--green-color);
  }
}
.itemContainer__list {
  display: flex;

  flex-direction: row;
  height: 20vh;

  border-top: 1px black solid;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 0.7rem;
  font-weight: 400;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: black;
  transition: all 0.2s ease-in-out;
}

.itemContainer__list:hover {
  height: 22vh;
}
.container__item {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.item__data {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.itemImage {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
.itemName {
}

.itemTitle {
  width: 3rem;
}
